# === Maven / Build ===
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
dependency-reduced-pom.xml

# === IDE ===
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# === SO / Misc ===
.DS_Store
Thumbs.db
*.log
logs/
spring.log

# === Spring Boot / Local ===
*.pid
*.seed
*.env
.env

# === H2 (archivo DB local) ===
mydatabase.mv.db
mydatabase.trace.db

# === Node (si aparece front) ===
node_modules/
dist/
