<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Barcos - Lista</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header><h1>Barcos</h1></header>
<nav><a class="btn" th:href="@{/}">Home</a> <a class="btn primary" th:href="@{/barcos/nuevo}">Nuevo</a></nav>
<table>
  <thead>
    <tr>
      <th>ID</th><th>Modelo</th><th>Jugador</th><th>Pos (x,y)</th><th>Vel (vx,vy)</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="it : ${items}">
      <td th:text="${it.id}">1</td>
      <td th:text="${it.modelo.nombre}">Modelo</td>
      <td th:text="${it.jugador.nombre}">Jugador</td>
      <td>(<span th:text="${it.posX}">0</span>,<span th:text="${it.posY}">0</span>)</td>
      <td>(<span th:text="${it.velX}">0</span>,<span th:text="${it.velY}">0</span>)</td>
      <td>
        <a class="btn" th:href="@{/barcos/{id}(id=${it.id})}">Ver</a>
        <a class="btn" th:href="@{/barcos/{id}/editar(id=${it.id})}">Editar</a>
        <form th:action="@{/barcos/{id}/borrar(id=${it.id})}" method="post" style="display:inline">
          <button class="btn danger" type="submit">Borrar</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
