<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Barco - Detalle</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header><h1>Barco - Detalle</h1></header>
<nav><a class="btn" th:href="@{/barcos}">Volver</a></nav>
<pre>
ID: <span th:text="${barco.id}">1</span>
Modelo: <span th:text="${barco.modelo.nombre}">Modelo</span>
Jugador: <span th:text="${barco.jugador.nombre}">Jugador</span>
Posición: (<span th:text="${barco.posX}">0</span>,<span th:text="${barco.posY}">0</span>)
Velocidad: (<span th:text="${barco.velX}">0</span>,<span th:text="${barco.velY}">0</span>)
</pre>
</body>
</html>
