<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Jugador - Formulario</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header><h1>Jugador - Formulario</h1></header>
<nav><a class="btn" th:href="@{/jugadores}">Volver</a></nav>

<form th:object="${jugador}"
      th:action="${*{id} != null} ? @{/jugadores/{id}(id=*{id})} : @{/jugadores}"
      method="post">
  <input type="hidden" th:field="*{id}"/>
  <div class="row">Nombre: <input type="text" th:field="*{nombre}" required/></div>
  <div class="row">Email: <input type="email" th:field="*{email}"/></div>

  <div class="row"><button class="btn primary" type="submit">Guardar</button></div>
</form>
</body>
</html>
