<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Modelo - Formulario</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header><h1>Modelo - Formulario</h1></header>
<nav><a class="btn" th:href="@{/modelos}">Volver</a></nav>

<form th:object="${modeloBarco}"
      th:action="${*{id} != null} ? @{/modelos/{id}(id=*{id})} : @{/modelos}"
      method="post">
  <input type="hidden" th:field="*{id}"/>
  <div class="row">Nombre: <input type="text" th:field="*{nombre}" required/></div>
  <div class="row">Color (hex): <input type="text" th:field="*{colorHex}" placeholder="#FF0000" required/></div>

  <div class="row"><button class="btn primary" type="submit">Guardar</button></div>
</form>
</body>
</html>
