<div class="container py-5">

  <div class="card shadow border-1">
    <div class="card-header fw-bold">
      Login
    </div>

    <div class="card-body bg-light">
      <div class="p-4 bg-white border rounded">

        <!-- Encabezado -->
        <div class="text-center mb-4">
          <img src="https://cdn-icons-png.flaticon.com/512/7439/7439844.png"
               alt="flag"
               width="50"
               height="50"
               class="mb-3">

          <h3 class="mt-2 mb-3">Regata Online</h3>

          <hr>
        </div>

        <!-- Mensaje de error -->
        @if (errorMsg(); as msg) {
          <div class="alert alert-danger">
            {{ msg }}
          </div>
        }

        <!-- FORMULARIO -->
        <form (ngSubmit)="entrar()">

          <!-- Usuario (email) -->
          <label class="form-label fw-semibold">Usuario (email)</label>
          <input
            type="email"
            class="form-control mb-3"
            placeholder="usuario@ejemplo.com"
            [(ngModel)]="emailModel"
            name="email"
            required>

          <!-- Contraseña -->
          <label class="form-label fw-semibold">Contraseña</label>
          <input
            type="password"
            class="form-control mb-4"
            placeholder="Ingrese su contraseña"
            [(ngModel)]="passwordModel"
            name="password"
            required>

          <!-- Botón -->
          <button type="submit"
                  class="btn btn-success w-100 py-2 fw-semibold"
                  [disabled]="loading()">
            @if (loading()) {
              Iniciando sesión...
            } @else {
              Iniciar Sesión
            }
          </button>

        </form>

      </div>
    </div>

  </div>

</div>
