/* === Barcos Component CSS === */

.table td, 
.table th {
  vertical-align: middle;
}

.alert {
  margin-bottom: 1rem;
}

button.btn-danger[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.form-control-plaintext {
  padding-left: 0;
  font-weight: 500;
}
